
<footer class="page-footer font-small stylish-color-dark pt-4">

    <div class="container text-center text-md-left">

     
      <div class="row">

      
        <div class="col-md-4 mx-auto">

          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">IKIGAI:know your purpose of life</h5>
         

        </div>
     

        <hr class="clearfix w-100 d-md-none">

        
        <div class="col-md-2 mx-auto">

         
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Helps</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Meet the Team</a>
            </li>
            <li>
              <a href="/">Help us getting better</a>
            </li>
          
           
          </ul>

        </div>
    
        <hr class="clearfix w-100 d-md-none">


        <div class="col-md-2 mx-auto">

        
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Help</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/">Contact Us</a>
            </li>
            <li>
              <a href="/">About Us</a>
            </li>
            <li>
              <a href="/records">See the other ikigai</a>
            </li>
          </ul>

        </div>


        <hr class="clearfix w-100 d-md-none">

       
    

      </div>
    

    </div>
    <hr>

    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Know your purpose</h5>
      </li>
      <li class="list-inline-item">
        <a href="/ikigai_form" class="btn btn-danger btn-rounded">Click here!</a>
      </li>
    </ul>
    

    <hr>


    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
 
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="/"> tanujvyas10@gmail.com</a>
    </div>
  
</footer>


<script
src="http://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>





//menu toggle-button
$(document).ready(function(){
$(".menu-icon").on("click",function(){
$("nav ul").toggleClass("showing");
});
});



//scrolling effect
$(window).on("scroll",function(){
if($(window).scrollTop()){
  $('nav').addClass("black");
}
else{
  $('nav').removeClass('black');
}
})

</script>
</body>
</html>