<% include ../partials/header %>

<div class="ui main text container segment">
    <h1>Hey, <%=data.name %>!!
    </h1>
    <h2>Congratulation!! You IKIGAI map is ready!! ;)</h2>
    <h2> Remember:Use <b><%=data.secretKey %> </b> whenever you want to delete or edit your IKIGAI map</h2>
    <a href="/"><button id="goto" class="ui inverted blue button">Go to home page</button></a>

</div>

<% include ../partials/footer %>
