<% include ../partials/header %> 



<div class="wrapper">
    <header>
        <nav>
             <div class="menu-icon">
               <i class="fa fa-bars fa-2x"></i>                      
             </div>
             <div class="logo">
               
             </div>
             <div class="menu">
               <ul>
                  <li><a href="/">Home</a> </li>
                  <li><a href="/" >Contact Us </a> </li>
                  <li><a href="/">About Us</a> </li>

                

               </ul>

             </div>

        </nav>
        <h1 class="heading">生き甲斐</h1>
<h1 class="heading2">IKIGIA: the purpose of life</h1>
    </header>
</div>

<div class="content">

    <p>

        Ikigai is a Japanese concept that means <b>"a reason for being." </b> The word "ikigai" is usually used to indicate the source of value in one's life or the things that make one's life worthwhile.The word translated to English roughly means "thing that you live for" or "the reason for which you wake up in the morning." Each individual's ikigai is personal to them and specific to their lives, values and beliefs. It reflects the inner self of an individual and expresses that faithfully, while simultaneously creating a mental state in which the individual feels at ease. Activities that allow one to feel ikigai are never forced on an individual; they are often spontaneous, and always undertaken willingly, giving the individual satisfaction and a sense of meaning to life.
        </p>
        <a href="/ikigai_form"> <button id="pap" class="ui inverted primary button">Map My IKIGAI</button> </a>
        <a href="/records"> <button id="pap" class="ui inverted primary button">See other's IKIGAI maps</button> </a>

        
</div>

<% include ../partials/footer %>